// 栏目列表
	.items{
		width: 100%;
		li{
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: rem(100px);
			border-bottom: 1px solid #ccc;
			margin-top: rem(10px);
			img{
				width: rem(60px);
				height: rem(60px);
				border-radius: rem(8px);
			}
			.tab{
				width: rem(70px);
				height: rem(45px);		
				font-size: rem(28px);
				text-align: center;
				line-height: rem(40px);
				border-radius: rem(5px);	
				padding: rem(5px) rem(10px);					
				.top{
					background: green;
					color: #fff;					
				}
				.mo{
					background: #e5e5e5;
					color: #999;
				}
			}
			.title{
				width: rem(550px);
				height: rem(100px);
				line-height: rem(100px);
				font-size: rem(40px);
				overflow: hidden;
				color:#333;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}